
<!-- Modal -->
<div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
	    <div class="modal-content form-elegant">
	      <!--Header-->
	      <div class="modal-header text-center">
	        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Login</strong></h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <!--Body-->
	      <div class="modal-body mx-4">
	        <!--Body-->
	      	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	        <div class="md-form mb-5">
	           <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate'%>
	          <label>Your email</label>
	        </div>

	        <div class="md-form pb-3">
	          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control validate' %>
	          <label>Your password</label>
	          <p class="font-small blue-text d-flex justify-content-end"><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %><%= link_to "Forgot password?", new_password_path(resource_name) %>
						<% end %></p>
	        </div>

	        <div class="text-center mb-3">
	          <button type="submit" class="btn  btn-block z-depth-1a">Sign in</button>
	        </div>
	      </div>
	      <!--Footer-->
	      <div class="modal-footer mx-5 pt-3 mb-1">
	      	<p class="font-small grey-text d-flex justify-content-end">
	      </div>
	    </div>
	    <!--/.Content-->
	  </div>
	<% end %>
</div>


<!-- Modal -->