#jobsTable{
    width: 950px;
}

#sortBy, #searchBar{
    margin: 12px;
    padding: 12px;
}
.footer-row{
    justify-content: center;
    text-align: center;
    color: white;
}
#dashboard{
    justify-content: center;
    text-align: center;
}
#dash-list {
 overflow-y: scroll;
 height: 17rem;
}
.content, html, body{
    min-height: 90vh;
}

.card-link {
    color: black;
    cursor: pointer;
 }

.filters{
    justify-content: center;
    text-align: center;
}
#dash-recent{
    overflow-y: scroll;
    height: 26rem;
}
.dash-list{
    margin:0 1% 1% 0;
    float:left;
    clear:none;
    width:48%;
    height:16px;
}
.signInFooter{
    bottom: 0; left: 0; right: 0;
}
.addnew{
	display: flex;
}
.changeViewIcons a{
	height: 35px;
	width: 35px;
	float: right;
}

#status{
	position: static;
	justify-content: center;
}

#numbs-dash{
	font-size: 24px;
}

.pointer-cursor{
	cursor: pointer;
}

.recentAct{
	color: black;
}

.recentAct:hover{
	background-color: lightgrey;
	border-radius: 5px;
	transform: scale(1.05);
}

.recentAct-2:hover{
	background-color: lightgrey;
	border-radius: 5px;
	transform: scale(1.05);
}

.recentAct, .recentAct-2, .recentAct-3, .recentAct-4{
	transition: all .2s ease-in-out;
}
.recentAct-3:hover {
	transform: scale(1.025);
}
.recentAct-4:hover {
	transform: scale(1.05);
}

#addButton1{
	float: right;
}

#dashboard{
	width: 13vw;
}

.status-col{
	max-width: 22rem !important;
}

.greetings{
	font-size: 24px;
}

.add-job-btn {
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    font-size: 15px;
}

.jobsPic{
	  position: absolute;
  left: 0;
	 background-image: url("jobs.jpg");
	 background: contain;
	 background-size: 100% 100%;
	height: 190px;
	width: 100%;
	opacity: 0.7;
	position: relative;
}

.statsPic{
	background-image: url("stats.jpg");
	background: contain;
	background-size: 100% 100%;
	height: 190px;
	width: 100%;
	opacity: 0.7;
}
.docPics{
	background-image: url("documents.jpg");
	background: contain;
	background-size: 100% 100%;
	height: 190px;
	width: 100%;
	opacity: 0.7;
}
.contactPics{
	background-image: url("contacts.jpg");
	background: contain;
	background-size: 100% 100%;
	height: 190px;
	width: 100%;
	opacity: 0.7;
}

.loginPage{
	background: url( asset-path('login.jpg') ) no-repeat;
  background-size: 100%;
  min-height: inherit;

}

  #addButtDash{
	padding: 10px 5px;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

///////////hovering dashboard/////////
.fullCard{
	position: relative;
}
.title{
	text-align: center;
  font-size: 30px;
  color: white;
   position:absolute;
    top:35%;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.4);
    z-index:9999;
    color:white;
    height: 30%
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  transition: 0.5s;
}

.jobsPic:hover {
	.buttons1, .buttons2 {
		opacity:1;
		font-size: 0.75rem;
	}
	.title {
		opacity:0;
		display:none;
	}
}

.statsPic:hover {
	.buttons5{
		opacity:1;
		font-size: 0.65rem;
	}
	.title {
		opacity:0;
		display:none;
	}
}

.docPics:hover {
	.buttons3{
		opacity:1;
		font-size: 0.65rem;
	}
	.title {
		opacity:0;
		display:none;
	}
}

.contactPics:hover {
	.buttons4, .buttons6{
		opacity:1;
		font-size: 0.65rem;
	}
	.title {
		opacity:0;
		display:none;
	}
}

.fullCard:hover .overlay {
  display: block;
}

.text {
  position: absolute;
  opacity: 0;
  width: 100px;;
  left:20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
  color: white;
}

.buttons1 {
  position: absolute;
  opacity: 0;
  width: 100px;;
  left:20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
.buttons2 {
  position: absolute;
  opacity: 0;
  width: 100px;
  right:20px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}


.buttons3 {
  position: absolute;
  opacity: 0;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.buttons4 {
  position: absolute;
  opacity: 0;
  width: 100px;;
  left:20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
.buttons6 {
  position: absolute;
  opacity: 0;
  width: 100px;
  right:20px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.buttons5 {
  position: absolute;
  opacity: 0;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
}

//////////////////////////////////////////////////
.job-list {
 overflow-y: scroll;
 height: 27rem;
 margin-bottom: 2rem;
}

.contact-list{
 overflow-y: scroll;
 height: 33rem;
 margin-bottom: 2rem;
 width: 75rem;
}
.regular{
    margin: 0px 5px 7px 5px
}
::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 4px;
}
::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(150, 144, 144, 0.32);
   -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.job-list::-webkit-scrollbar:horizontal {
 display: none;
}
.wrapper-div{
    overflow-y: auto;
 white-space: nowrap;
 .h-scroll{
      display: inline-block;
 }
}
.wrapper-div::-webkit-scrollbar{
    height: 6px;
 border-radius: 5px;
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.wrapper-div::-webkit-scrollbar-thumb {
    height: 6px;
 border-radius: 5px;
 background-color: #00bd86;
 outline: 2px solid slategrey;
}
.status-col{
    max-width: 22rem !important;
    min-width: 22rem !important;
}

.icons {
	height: 30px;
	width: 35px;
}
.add-contact-btn{
	position: fixed;
	bottom: 7rem;
	right: 5em;
	font-size: 15px;
	border: 2px solid black;
  border-radius: 15px;
  height: 30px;
  width: 32px;
}
.add-btn{
	position: fixed;
	bottom: 7rem;
	right: 9em;
	font-size: 15px;
  height: 30px;
  width: 32px;
}


#contactCard{
	display: inline-block;
}

.contactsGrid{
 overflow-y: scroll;
 margin-bottom: 2rem;
 height: 30rem;
}

.form-elegant .font-small {
    font-size: 0.8rem; }
.form-elegant .z-depth-1a {
    background-image: linear-gradient(to right, #8be9f5, #3e90b7, #2c3f9e);
    border-radius: 20px;
    border: none;
    color: white;
  }
.form-elegant .modal-header {
    border-bottom: none; }
.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }
.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }
.add-box-shadow{
 -webkit-box-shadow: 18px 19px 8px -17px rgba(189,187,189,1);
-moz-box-shadow: 18px 19px 8px -17px rgba(189,187,189,1);
box-shadow: 18px 19px 8px -17px rgba(189,187,189,1);
}

.alert-time, .alert-app{
	display:flex;
}

.alert-time p, .alert-app p {
	margin-right: 0.5rem
}

.block-out{
  background-color: white;
  top: 50px;
  left: 50px;
  padding: 10px;
  opacity: .3;
}

.change-file {
  display: none;
 }

.hide {
  display: none;
 }

.pop-list{
 	padding-inline-start: 10px
 }


// label, main{
// 	background: var(--bg, white);
// 	color: var(--text, black);
// }

main, body{
	--gradDark: hsl(144, 100%, 89%);
	--gradLight: hsl(42, 94%, 76%);
	background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
	min-height: inherit	;
}

.theme-switch__input:checked ~ main,
.theme-switch__input:checked ~ theme-switch__label {
	--text: black;
}

.theme-switch__input:checked ~ main, body {
	--gradDark: hsl(198, 44%, 11%);
	--gradLight: hsl(198, 39%, 29%);
}


// Toggle switch
.theme-switch__input,
.theme-switch__label {
	position: absolute;
	z-index: 1;
}

.theme-switch__input {
	opacity: 0;

	&:hover,
	&:focus {
		+ .theme-switch__label {
			background-color: lightSlateGray;
		}

		+ .theme-switch__label span::after {
			background-color: lighten(lightBlue, 10%);
		}
	}
}

.theme-switch__label {
	padding: 15px;
	margin: 10px 40px 0 40px	;
	transition: background-color 200ms ease-in-out;
	width: 70px;
	border-radius: 50px;
	background-color: slateGray;
	box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);

	&::before,
	&::after {
		font-size: 2rem;
		position: absolute;
		transform: translate3d(0, -50%, 0);
		top: 50%;
	}

	&::before {
		content: '\263C';
		right: 100%;
		margin-right: 10px;
		color: orange;
	}

	&::after {
		content: '\263E';
		left: 100%;
		margin-left: 10px;
		color: lightSlateGray;
	}

	span {
		position: absolute;
		bottom: calc(100% + 10px);
		left: 0;
		width: 100%;
	}

	span::after {
		position: absolute;
		top: calc(100% + 10px);
		left: 3px;
		width: 28px;
		height: 28px;
		content: '';
		border-radius: 50%;
		background-color: lightBlue;
		transition: transform 200ms, background-color 200ms;
		box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
	}
}

// Checked label styles
.theme-switch__input:checked ~ .theme-switch__label {
		background-color: lightSlateGray;

	&::before {
		color: lightSlateGray;
	}

	&::after {
		color: turquoise;
	}

	span::after {
		transform: translate3d(51px, 0, 0);
	}
}