#jobsTable{
    width: 950px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#sortBy, #searchBar{
    margin: 12px;
    padding: 12px;
}
.footer-row{
    justify-content: center;
    text-align: center;
    color: white;
}
#dashboard{
    justify-content: center;
    text-align: center;
}
#dash-list {
 overflow-y: scroll;
 height: 17rem;
}
.content, html, body{
    min-height: 90vh;
}
.job-list {
    overflow-y: scroll;
  height: 22rem;
 }
.card-link {
    color: black;
    cursor: pointer;
 }
 .table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #bee5eb;
}
.filters{
    justify-content: center;
    text-align: center;
}
#dash-recent{
    overflow-y: scroll;
    height: 28rem;
}
.dash-list{
    margin:0 1% 1% 0;
    float:left;
    clear:none;
    width:48%;
    height:20px;
}
.signInFooter{
    bottom: 0; left: 0; right: 0;
}

.addnew{
	display: flex;
}
.changeViewIcons a{
	height: 35px;
	width: 35px;
	float: right;
}

#status{
	position: static;
	justify-content: center;
}

#numbs-dash{
	font-size: 24px;
}

#addButtDash{
	padding: 10px 5px;
}

.pointer-cursor{
	cursor: pointer;
}

#addButton1{
	float: right;
}

#dashboard{
	width: 13vw;
}

.status-col{
	max-width: 22rem !important;
}