<div class = "description text-center m-3">
	<p class = "font-weight-bold mb-0">
		<%= job.comp_name.titleize %>
	</p>
	<p>
		<%= job.title.titleize %>
	</p>
	<small>
		== <%= job.status.titleize %> ==
	</small>
</div>

<div class="card-footer pr-2 text-right">
	<small>
		Added on <%= job. created_at.to_date %>
	</small>
</div>