<h1> All stats here</h1>

<h3>Insights</h3>

<ul>
	<li># of jobs submitted vs offer received </li>
	<li># of jobs applied in serious mode</li>
	<li># of Jobs applied each day / week / month / year</li>
	<li>Add job column, first time create/ update if empty, place a date on that job to show when submitted</li>
</ul>